%h1 Users#show
= link_to  "Sign Out", destroy_user_session_path, :method => :delete
= link_to "My Account", edit_user_account_path(current_user)
= link_to "Account Settings", edit_registration_path(current_user)
= link_to "My Subscription", subscription_path(current_user)
= link_to "My Site", edit_user_site_path(current_user)
= link_to "Events", events_path