%h1 Sites#edit
%p Find me in app/views/sites/edit.html.haml
= form_for [current_user, @site] do |f|
  .control-group
    = f.label :name
    = f.text_field :name
  .control-group 
    = f.label :description
    = f.text_area :description
  .control-group 
    = f.label :subdomain
    = f.text_field :subdomain
  .control-group 
    = f.label :analytics
    = f.text_field :analytics
  .control-group
    = f.label :password_protected
    = f.check_box :password_protected
  .control-group 
    = f.label :is_indexed
    = f.check_box :is_indexed
  
  = f.fields_for :layouts do |layouts_form|
    .control-group
      = layouts_form.label :design
      = layouts_form.collection_select :design, Design.all, :id, :name
  
  .control-group 
    = f.submit "Update"