!!!
%html
  %head
    %title SiteService
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
  %body{:class => "#{body_class} layout-basic"}
    - flash.each do |key, msg|
      = content_tag :div, msg, :id => key, :class => 'user-notification'

    %header.main-header.container
      %a.logo{:href => "/"} meetcute.us

    = yield

    .container.container--black.footer-full
      %footer.content.legal
        .legal-left
          %p Copyright &copy; 2014 MeetCute.us, All Rights Reserved

        .legal-right
          %a.secondary-nav-item{:href => "#"} Terms
          %a.secondary-nav-item{:href => "#"} Privacy
          %a.secondary-nav-item{:href => "#"} Legal

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield :js if content_for?(:js)