!!!
%html
  %head
    %title SiteService
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
  %body{:class => "#{body_class} dashboard-layout container"}
    - flash.each do |key, msg|
      = content_tag :div, msg, :id => key, :class => 'user-notification'

    %aside.sidebar.col-2.col-2--last
      %h1
        %a.logo{:href => "/"} meetcute.us

      %ul.vertical-nav
        %li
          = link_to events_path, :class => "main-nav-item" do
            Events
            %i.fa.fa-angle-right.pull-right

    %section.dashboard-content.col-10.col-10--last
      %header.dashboard-header
        %nav.main-nav
          .main-nav-right
            %ul.nav-dropdown
              %li
                = link_to user_path(current_user), :data => { :type => "signIn" }, :class => "icon-link main-nav-item" do
                  = current_user.email
                  %i.fa.fa-angle-down

                %ul.sub-menu
                  %li
                    = link_to edit_user_account_path(current_user), :class => "main-nav-item" do
                      %i.fa.fa-user
                      My Account
                  %li
                    = link_to edit_registration_path(current_user), :class => "main-nav-item" do
                      %i.fa.fa-cog
                      Account Settings
                  %li
                    = link_to subscription_path(current_user), :class => "main-nav-item" do
                      %i.fa.fa-calendar
                      My Subscription
                  %li
                    = link_to edit_user_site_path(current_user), :class => "main-nav-item" do
                      %i.fa.fa-wrench
                      Site Settings
                  %li
                    = link_to destroy_user_session_path, :method => :delete , :class => "main-nav-item" do
                      %i.fa.fa-sign-out
                      Sign Out


      .dashboard-pane
        = yield

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield :js if content_for?(:js)
