!!!
%html
  %head
    %title SiteService
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
  %body{:class => "#{body_class}"}
    - flash.each do |key, msg|
      = content_tag :div, msg, :id => key, :class => 'user-notification'

    .fixed-form{:data => { :bind => "css: formTransitionState()" }}
      %i.icon.icon-close
      #sign-up{:data => { :bind => "visible: formType() == 'signUp' " }}
        %p.header-text Sign up for your free trial.
        %form{:action => "#"}
          %input{:type => "email", :name => "email", :placeholder => "your@email.com", :class => "input--mega"}
          %input{:type => "password", :name => "password", :placeholder => "Password", :class => "input--mega"}
          %input{:type => "password", :name => "password", :placeholder => "Confirm Password", :class => "input--mega"}
          .control-group.input-add-on
            %input{:type => "text", :name => "url", :placeholder => "Your Domain Here", :class => "input--mega"}
            %span.add-on .meetcute.us
          %input{:type => "submit", :value => "Sign Up", :class => "button button--light button--mega"}

      #sign-in{:data => { :bind => "visible: formType() == 'signIn' " }}
        %p.header-text Sign into MeetCute.us
        %form{:action => "#", :data => { :bind => "submit: signIn" }}
          %input{:type => "email", :name => "user[email]", :placeholder => "your@email.com", :class => "input--mega"}
          %input{:type => "password", :name => "user[password]", :placeholder => "Password", :class => "input--mega"}
          .control-group
            %input{:type => "checkbox", :name => "user[remember_me]", :class => "checkbox-large checkbox-large--light"}
            %label{:for => "remember_me", :class => "checkbox-large--label"} Remember Me
          %input{:type => "submit", :value => "Sign In", :class => "button button--light button--mega"}

    %header.main-header.container
      %nav.main-nav
        .main-nav-left
          %a.logo{:href => "/"} meetcute.us
          %a.main-nav-item{:href => "#home"} Home
          %a.main-nav-item{:href => "#features"} Features
          %a.main-nav-item{:href => "#pricing"} Pricing
          %a.main-nav-item{:href => "#contact"} Contact
        .main-nav-right
          - if current_user
            = link_to user_path(current_user), :data => { :type => "signIn" }, :class => "icon-link main-nav-item" do
              %i.icon.icon-lock
              = current_user.email
          - else
            = link_to new_user_session_path, :data => { :type => "signIn" }, :class => "icon-link main-nav-item" do
              %i.icon.icon-lock
              Sign In

          = link_to "Free Trial", new_user_registration_path, :data => { :type => "signUp" }, :class => "button button--light"

    = yield

    .container.container--darker.footer-full
      %footer.content.main-footer
        .footer-content
          %h4 Contact Us
          %ul.icon-list
            %li
              %i.icon.icon-map
              %a{:href => "#"} 7282 Atscadero, Ca 93422
            %li
              %i.icon.icon-phone
              %a{:href => "#"} 206.953.3666
            %li
              %i.icon.icon-email
              %a{:href => "mailto:info@meetcute.us"} info@meetcute.us

        .footer-content
          %h4 Connect With Us
          %ul.icon-list.icon-list--horizontal
            %li
              %a{:href => "#"}
                %i.icon.icon-facebook
            %li
              %a{:href => "#"}
                %i.icon.icon-twitter
            %li
              %a{:href => "#"}
                %i.icon.icon-pinterest
            %li
              %a{:href => "#"}
                %i.icon.icon-tumblr

        .footer-content
          %h4 Newsletter
          %p Be the first to hear about new features
          %form.form-inline{:action => "#"}
            %input{:type => "text", :name => "Email", :placeholder => "your@email.com", :class => "input--light"}
            %button.button.button--light Sign up
    
    .container.container--black.footer-full
      %footer.content.legal
        .legal-left
          %p Copyright &copy; 2014 MeetCute.us, All Rights Reserved

        .legal-right
          %a.secondary-nav-item{:href => "#"} Terms
          %a.secondary-nav-item{:href => "#"} Privacy
          %a.secondary-nav-item{:href => "#"} Legal

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield :js if content_for?(:js)